/* a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  } */
.link{
    color: rgb(207, 207, 207);
    text-decoration:none;
    margin-top: 10px;
    cursor: pointer;
}
.link:hover{
    color:gray !important;
    text-decoration:none !important;
}
.web-name{
    font-family: 'Arima Madurai', cursive;   
    color:rgb(49, 49, 49);
}
